#stylist {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 500px;
  margin: 50px 0 200px 0;
  border: 1px solid black;
  padding: 20px;
  font-size: 14px;
}

#chatbox {
  width: 300px;
  height: 600px;
  text-align: right;
  overflow-y: scroll;
  align-items: flex-end;
  align-content: flex-end;
  scroll-behavior: smooth;
  white-space: wrap;
  word-wrap: break-word;
  overflow-anchor: none;
  scroll-margin-bottom: 0;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

#stylist-header {
  text-align: left;
  margin: 40px 0 10px 0;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
}

.textinput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
}

textarea {
  display: flex;
  align-content: flex-start;
  padding: 5px;
  white-space: wrap;
  word-wrap: break-word;
  height: 80px;
  width: 168%;
}

label {
  margin-top: -10px;
  font-size: x-small;
  text-align: left;
}

.chat-message {
  text-align: left;
  padding: 5px 0 5px 0;
}

.user {
  font-weight: 500;
}

.assistant {
  font-weight: 400;
}

/* Screen size exceptions */
@media only screen and (max-width: 450px) {
  #stylist {
    width: 250px;
    height: 600px;
  }

  #chatbox {
    width: 250px;
  }

  #textinput {
    width: 138%;
  }
}
