#stylist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}

#stylist-chat {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 500px;
  border: 1px solid black;
  padding: 20px;
  font-size: 14px;
}

#chatbox {
  width: 300px;
  height: 600px;
  text-align: right;
  overflow-y: scroll;
  align-items: flex-end;
  align-content: flex-end;
  scroll-behavior: smooth;
  white-space: wrap;
  word-wrap: break-word;
  overflow-anchor: none;
  scroll-margin-bottom: 0;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

#stylist-header {
  text-align: left;
  margin: 0px 0 10px 0;
  position: relative;
}

#stylist-fadeout {
  position: absolute;
  width: 285px;
  height: 50px;
  top: 100px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
}

.textinput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
}

textarea {
  display: flex;
  align-content: flex-start;
  padding: 5px;
  white-space: wrap;
  word-wrap: break-word;
  height: 80px;
  width: 155%;
  position: relative;
  margin-bottom: 20px;
}

#input-label {
  position: absolute;
  margin: -10px 0 20px 15px;
  padding-bottom: 20px;
  font-size: x-small;
}

.chat-message {
  text-align: left;
  padding: 5px 0 5px 0;
}

.user {
  font-weight: 500;
}

.assistant {
  font-weight: 400;
}

/* Screen size exceptions */
@media only screen and (max-width: 800px) {
  #stylist {
    flex-direction: column;
  }

  #post-stylist-instruction {
    margin-top: 50px;
    margin-left: 0;
  }

  #stylist-chat {
    width: 250px;
    height: 600px;
  }

  #chatbox {
    width: 250px;
  }

  #textinput {
    width: 138%;
  }

  #input-label {
    margin: -10px 0 20px 0px;
  }
}
