#about {
  width: 400px;
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#actions {
  list-style: none;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 500;
  /* text-decoration: none; */
}

li {
  margin-bottom: 20px;
}

/* Screen size exceptions */
@media only screen and (max-width: 500px) {
  #about {
    margin-left: 15%;
    width: 70%;
    font-size: 14px;
  }
}
