/* Color themes - light is default, dark is system set */
:root {
  --bg-color: #ebe9ee;
  --fg-color: #16111a;
  --primary-accent: #b958a6;
  --secondary-accent: #6b58b9;
  --tertiary-accent: #5875b9;
  --disabled: #e0e0e0;
  --box-shadow: 10px 10px 42px -22px rgba(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #16111a;
    --fg-color: #ebe9ee;
    --box-shadow: 10px 10px 42px -14px rgba(0, 0, 0, 1);
  }
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--fg-color);
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
