nav {
  position: fixed;
  z-index: 10;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

#close-tab {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.tab {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-decoration: none;
  width: 35px;
}

.tab-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: 500;
}

.selected {
  -webkit-box-shadow: inset 18px -3px 18px -18px rgba(0, 0, 0, 0.1);
  box-shadow: inset 18px -3px 18px -18px rgba(0, 0, 0, 0.1);
}

.option {
  border-width: 0.5px 1px 0.5px 0;
  border-color: black;
  border-style: solid;
  border-radius: 0 8px 8px 0;
  box-shadow: 11px -1px 18px -6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 11px -1px 18px -6px rgba(0, 0, 0, 0.1);
}
